@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
	themes: corporate --default;
}

@layer base {
	ol {
		list-style: decimal inside;
	}
	ul {
		list-style: disc inside;
	}
}
